@model ChinaTea.Models.CheckoutViewModelStep1
@{
    int selectedId = Model.Step1 == null ? -1 : Model.Step1.BillingAddressId;
    ViewBag.Title = "Checkout";
}

<div class="panel">
    <div class="panel-heading text-success">
        <h2>Please Select Your Billing Address</h2>
    </div>
    <div class="col-md-10 panel">
        @if (Model.Addresses.Count() == 0)
        {
            <div class="panel-headering">You have no address in file</div><br />
            @Html.ActionLink("New Address", "CreateAddress", new { controller = "manage", area = "", returnUrl = Request.Url }, new { @class = "btn btn-primary " })
        }
        else
        {
            using (Html.BeginForm())
            {

                foreach (var address in Model.Addresses)
                {
                   <div class="col-md-3 text-primary">
                       <label>@address.AddressFirstLine</label><br />
                       @if (address.AddressSecondLine != null)
                       {
                       <label>@address.AddressSecondLine</label><br />
                       }
                       <label>@address.AddressCity</label><br />
                       <label>@address.AddressState @address.AddressZipCode</label><br />
                       <label>@address.AddressCountry</label><br />
                       @Html.ActionLink("Edit Address", "EditAddress", new { controller = "manage", area = "", id=@address.Id,returnUrl = Request.Url }, new { @class = "btn btn-default " })
                       <label class="text-success">Select This Address</label>
                       @if (Model.Step1 == null || Model.Step1.BillingAddressId==0)
                       {
                           if (address.Id==Model.Addresses.First().Id)
                           {
                               <input type="radio" name="BillingAddressId" value="@address.Id" checked="checked" />
                           }
                           else
                           {
                            <input type="radio" name="BillingAddressId" value="@address.Id" />
                           }
                       }
                       else
                       {
                           if (address.Id == Model.Step1.BillingAddressId)
                           {
                                <input type="radio" name="BillingAddressId" value="@address.Id" checked="checked" />
                           }
                           else
                           {
                                <input type="radio" name="BillingAddressId" value="@address.Id" />
                           }
                       }
                       
                   </div>
                }
                <div class="panel-heading text-primary">
                    @Html.ActionLink("New Address", "CreateAddress", new { controller = "manage", area = "", returnUrl = Request.Url }, new { @class = "btn btn-default pull-left" })
                </div>
        <div class="form-group">

        <div class="col-md-offset-2 col-md-10">

            @*<input type="submit" name="BtnPrevious" value="Previous" class="btn btn-default" />*@

            <input type="submit" name="BtnNext" value="Next" class="btn btn-primary" />

        </div>
    </div>
        
     }
    }
    </div>

</div>

