@model IEnumerable<ChinaTea.Entities.Product>
@{
    ViewBag.Title = "Index";
}
<script>
    $(document).ready(function () {
        $('.deleteproduct').bind("click",function () {
            
            if (!confirm("Are you sure you want to delete this product?"))
            { return false; }
            else
            {
                $(this).closest('form').submit();
            }
        })
    })

    function Confirm_Form() {
        if (!confirm("Are you sure you want to delete this product?"))
            return false;
    }


</script>
<h2>List of Products</h2>
<table class="table table-striped" border="1">
    <tr>
        <th>Catalog Number</th>
        <th>Name</th>
        <th>Category</th>
        <th>Package Size</th>
        <th>Unit</th>
        <th>Price</th>
        <th>Stock</th>

        <th>Details</th>
        <th>Edit</th>
        
        <th>Delete</th>

        <th>Update Picture</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.CatalogNumber</td>
            <td>@item.ProductName</td>
            <td>@item.ProductCategory.ProductCategoryName</td>
            <td>@item.ProductPackageSize</td>
            <td>@item.PackageUnit</td>
            <td>@item.ProductUnitPrice</td>
            <td>@item.Stock</td>



         
            <td>  @Html.ActionLink("Details", "ShowDetails", new { id = item.Id }, new { @class = "btn btn-primary btn-xs" })</td>
           
                <td>  @Html.ActionLink("Edit", "EditProduct", new { id = item.Id }, new { @class = "btn btn-primary btn-xs" })</td>
            

            <td>
                @using (Html.BeginForm("ConfirmDeleteProduct", "Product", FormMethod.Post, new { name="deleteform"}))
                {
                   <input type="hidden" name="id" value="@item.Id" />
                    <button type="button" class="btn btn-danger btn-xs deleteproduct">Delete</button>
                   
                }
            </td>


            <td>
               

                    
                    @Html.ActionLink("Update Product Picture", "UpdateProductPicture", new { id = item.Id }, new { @class = "btn btn-danger btn-xs" })
              
            </td>
            
        </tr>
    }
</table>
@Html.ActionLink("Create", "Add", new { @class = "btn btn-primary btn-xs" })

